# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/

data/install.lock

data/backup/*
!data/backup/index.html

data/conf/*
!data/conf/index.html

data/runtime/*
!data/runtime
!data/runtime/index.html

data/uc_cache/*
!data/uc_cache/index.html

data/upload/*
!data/upload/index.html
!data/upload/avatar
data/upload/avatar/*
!data/upload/avatar/index.html
!data/upload/ueditor
data/upload/ueditor/*
!data/upload/ueditor/index.html

